*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/tmp
/debian/vyatta-cfg
/debian/vyatta-cfg.postinst
/debian/vyatta-cfg.postrm
/debian/libvyatta-cfg-dev
/debian/libvyatta-cfg1
/debian/*.log
/debian/*.substvars
/debian/*.debhelper
/debian/stamp-*
/INSTALL
/Makefile.in
/Makefile
/src/my_commit
/src/my_set
/src/my_delete
/src/check_tmpl
/src/dump
/src/exe_action
/src/priority
/src/net_set
/src/cli_def.c
/src/cli_parse.c
/src/cli_parse.h
/src/cli_val.c
/src/cparse/cparse.cpp
/src/cparse/cparse.h
/src/cparse/cparse_lex.c
/tools/rl_passwd

