Source: vyatta-cfg
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, libglib2.0-dev,
 libboost-filesystem-dev (>= 1.55), libapt-pkg-dev, libtool, flex,
 bison, libperl-dev, autoconf, automake, pkg-config, cpio, dh-autoreconf ,dh-systemd
Standards-Version: 3.9.1

Package: vyatta-cfg
Architecture: any
Depends: sed (>= 4.1.5),
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 vyatta-bash | bash (>= 4.1),
 vyatta-config-migrate,
 bsdutils (>=1:2.13),
 curl,
 libsocket6-perl,
 libvyatta-cfg1 (>=${binary:Version}),
 unionfs-fuse,
 libboost-filesystem1.55.0 | libboost-filesystem1.62.0 | libboost-filesystem1.67.0,
 libapt-pkg4.12 | libapt-pkg5.0,
 ${perl:Depends}, ${shlibs:Depends}
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: VyOS configuration system
 This package provides the VyOS configuration system, including the base
 configuration templates and the config-mode CLI completion mechanism.

Package: libvyatta-cfg1
Architecture: any
Depends: libsort-versions-perl,
 libfile-sync-perl,
 ${perl:Depends}, ${shlibs:Depends}
Replaces: vyatta-cfg
Description: vyatta-cfg back-end library
 Vyatta configuration back-end library (libvyatta-cfg).

Package: libvyatta-cfg-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libvyatta-cfg1 (>=${binary:Version}),
 libboost-filesystem1.55-dev | libboost-filesystem1.62-dev | libboost-filesystem1.67.0
Description: libvyatta-cfg development package
 Development header and library files for the Vyatta configuration back-end
 library.
