Source: vyatta-cfg
Section: contrib/net
Priority: extra
Maintainer: An-Cheng Huang <ancheng@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg
Architecture: any
Depends: sed (>= 4.1.5),
 perl (>= 5.8.8),
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 vyatta-bash | bash (>= 3.1),
 vyatta-quagga | quagga,
 vyatta-op,
 vyatta-config-migrate, 
 parted,
 dhcp3-client | vyatta-dhcp3-client,
 bsdutils (>=1:2.13),
 libc6 (>= 2.7-6),
 libsort-versions-perl,
 vlan
Replaces: vyatta-cfg-firewall
Suggests: util-linux (>= 2.13-5),
 net-tools,
 ethtool,
 ncurses-bin (>= 5.5-5),
 ntpdate
Description: Vyatta configuration system
 This package has the Vyatta configuration system, including the configuration
 back-end, the base configuration templates, and the config-mode CLI completion
 mechanism.
