#!/usr/bin/make -f

export DH_OPTIONS

## uncomment to enable hardening
export DEB_BUILD_HARDENING=1

cfg_opts := --prefix=/opt/vyatta
cfg_opts += --libdir=/usr/lib
cfg_opts += --includedir=/usr/include
cfg_opts += --mandir=\$${prefix}/share/man
cfg_opts += --infodir=\$${prefix}/share/info
cfg_opts += --enable-unionfsfuse
cfg_opts += CFLAGS="$(CFLAGS)"
cfg_opts += LDFLAGS="-Wl,-z,defs"
cfg_opts += CXXFLAGS="$(CXXFLAGS)"
inst_opts := --sourcedir=debian/tmp

%:
	dh $@ --with=autoreconf,systemd

autoreconf:
	autoreconf -f -i

override_dh_perl:
	rm -f debian/files
	dh_perl /opt/vyatta/share/perl5 /opt/vyatta/share/perl5/Vyatta

override_dh_gencontrol:
	rm -f debian/*/DEBIAN/conffiles
	if [ -f "../.VYOS_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol; \
	fi

override_dh_auto_configure:
	rm -f debian/*.debhelper*
	./configure $(cfg_opts)

override_dh_auto_test:

override_dh_install:
	dh_install $(inst_opts)

override_dh_systemd_enable:
	dh_systemd_enable -pvyatta-cfg --name vyatta-router vyatta-router.service

