[Unit]
SourcePath=/etc/init.d/vyatta-router
Description=VyOS Router
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target getty@tty1.service getty@tty2.service getty@rrt3.service getty@tty4.service getty@tty5.service getty@tty6.service
After=systemd-journald-dev-log.socket time-sync.target local-fs.target
Conflicts=shutdown.target

[Service]
Type=oneshot
Restart=no
TimeoutSec=20min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SysVStartPriority=4
ExecStart=/etc/init.d/vyatta-router start
ExecStop=/etc/init.d/vyatta-router stop
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
